# Commercial license key for @virtuoso.dev/message-list (renderer-only).
# Embedded into the renderer bundle at build time; validated client-side
# with no network call. Get yours from https://virtuoso.dev/.
VITE_VIRTUOSO_LICENSE_KEY=
